body, html {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
}

.CodeMirror {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: transparent;
}
